ul.mainmenu {
	padding: 80px 0 0;
	display: inline-block;
	margin-bottom: 0;
	li {
		float: left;
		margin: 0 10px;
		position: relative;		
		&:before {
			display: none;	
		}
		&:after {
			position: absolute;
			right: -10px;
			border-left: 1px solid $red;
			top: 4px;
			bottom: 4px;
			content: '';
		}
		&.last:after {
			display: none;
		}
		&.d-sm-none {
			a[href] {
				font-size: 14px;
			}
		}
		a[href] {
			text-transform: uppercase;
			color: $blue;
		}
		&.active {
			a, a:hover, a[href], a[href]:hover {
				color: $red;
			}
		}
	}
	&.show {
		li.head {
			margin-bottom: 20px;
		}
		li.spacer {
			height: 10px;
		}
	}
}

.menu-toggle {
	display: none;
}
			

@include media-breakpoint-down(xs) {
	.menu-toggle {
		display: block;
		cursor: pointer;
		width: 32px;
    text-align: center;
		i {
			font-size: 36px;
			color: #fff;
		}
		&:hover {
			
		}
	}
	ul.mainmenu {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
		padding: 20px 30px;
		margin: 0;
		background: rgba($blue, 0.96);
		opacity: 0;
		transition: opacity 0.4s ease-in-out;
		z-index: -100;
		&.show {
			opacity: 1;
			z-index: 10;
		}
		li {
			display: block;
			float: none;
			margin: 10px 0;
			&:after {
				display: none;
			}
			a[href] {
				color: #fff;
				font-size: 18px;
				text-transform: uppercase;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
}